:root {
    --maroon: #A52A2A;
    --antiquewhite: #FAEBD7;
    --white: #FFFFFF;
}

.nav {
    background-color: var(--maroon);
    color: var(--antiquewhite);
    margin-top: 0%;
    display: block;
    height: 60px;
    font-family: "Cinzel";
}

.nav-home {
    display: inline-flex;
    font-size: x-large;
    padding-right: 5in;
}

.nav-item {
    list-style: none;
    padding-left: 1em;
    display: inline-block;
    font-size: large;
    font-family: "Poppins";
}

NavLink {
    color: var(--white);
    text-decoration: none;
}

a hover {
    color: var(--white);
}
a {
    color: var(--white);
    text-decoration: none;
    scroll-behavior: smooth;
    padding-top: 12px;
    padding-left: 65px;
}